@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "default";
@import "mixins";
@import "header";
@import "intro_page";
@import "signUp";

.shorten-container {
    position: absolute;
    width: 60vw;
    margin: 0 auto;
    background: $dark-violent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: $menu-burger_radius;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, -50%);

    .shorten-link {
        outline: none;
        border: none;
        padding: 1rem;
        text-indent: 5px;
        margin-bottom: 0.5rem;
        width: 80%;
        border-radius: $menu-burger_radius;
    }
    button {
        padding: 1rem;
        outline: none;
        border: none;
        width: 85%;
        border-radius: $menu-burger_radius;
        background-color: $cyan;
        color: white;
        font-weight: 800;
    }
    ::placeholder {
        color: $gray;
    }
}

.advanced-statistics {
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $gray-violent;
    position: relative;
    width: 100%;

    h2 {
        font-weight: 900;
        font-size: 30px;
        color: $dark-violent;
        margin: 10px;
    }
    p {
        font-size: 18px;
        margin: 10px;
        text-align: center;
    }

    .advanced-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        padding-top: 1rem;

        li {
            img {
                background-color: $dark-violent;
                position: absolute;
                border-radius: 50%;
                padding: 0.5rem;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            h1 {
                font-size: 18px;
                color: $dark-violent;
                margin-top: 2rem;
            }
            p {
                font-size: 12px;
                margin: 15px;
                color: $card-text;
                font-weight: 800;
            }
            width: 250px;
            height: 250px;
            background: white;
            margin: 30px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
        }
    }
}

.boost-today {
    width: 100vw;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../Img/bg-boost-mobile.svg) $dark-violent;
    background-size: cover;

    h2 {
        margin: 1rem;
        font-size: 24px;
        font-weight: 900;
        color: white;
    }

    button {
        @include button;
        background: $cyan;
        color: white;
        font-weight: 800;
        a{
            text-decoration: none;
            color: white;
            font-size: 12px;
        }
        
    }
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: $very-dark_violent;
    width: 100vw;


    .logo-container {
        margin: 1rem;
        display: flex;
        // justify-self: flex-start;
        justify-content: center;
        align-items: center;
        img {
            justify-self: flex-start;
            align-self: flex-start;
        }
    }

    .footer-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        width: 100vw;

        .features {
          @include list;
        }
        .resources{
            @include list;
        }
        .company{
            @include list;
        }
    }

    .social-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 200px;
        margin-top: 1rem;
        a {
            text-decoration: none;
            background-color: $very-dark_violent;
            img {
                background: $very-dark_blue;
            }
        }
    }
}
